<div class="container">
  <div>
  	<form action="/search" method="get">
    <div class="search-field">
    	<div class="search-term">
    		<div class="form-inline div-inline">
    			<div id="custom-search-input">
            <div class="input-group"> {{!-- change to auto or remove width if mobile --}}
                <input type="text" class="search-query form-control" placeholder="Search" name="query" value="{{#if query}}{{query}}{{/if}}">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        	</div>
    		</div>
    		<div class="form-inline div-inline">
    			<label>From</label>
    			<input type="date" class="form-control filters" name="fromDate" value="{{#if fromDate}}{{fromDate}}{{/if}}">
    			<label>To</label>
    			<input type="date" class="form-control filters" name="toDate" value="{{#if toDate}}{{toDate}}{{/if}}">
    		</div>
    	</div>

    	<div class="search-filters">

    		<div class="form-inline div-inline">
    			<label>Time</label>
    			<input type="time" class="form-control filters" name="fromTime" step="1800" value="{{#if fromTime}}{{fromTime}}{{/if}}">
    			<label>to</label>
    			<input type="time" class="form-control filters" name="toTime" step="1800" value="{{#if toTime}}{{toTime}}{{/if}}">
    		</div>

    		<div class="form-inline div-inline filters" >
    			<label>Type</label>
	    		<select class="form-control" name="type" id="type" value="{{#if type}}{{type}}{{/if}}">
	    			<option value="all">All</option>
	    			<option value="equipment">Equipment</option>
	    			<option value="rooms">Rooms</option>
	    		</select>
    		</div>

    		<div class="form-inline div-inline filters">
    			<label>Filter</label>
    			<select class="form-control" name="available" id="available" value="{{#if available}}{{available}}{{/if}}">
    				<option value="true">Available</option>
    				<option value="false">Unavailable</option>
    			</select>
    		</div>

    		<div class="form-inline div-inline filters">
    			<label>Rows</label>
    			<select class="form-control" name="rows" id="rows" value="{{#if rows}}{{rows}}{{/if}}">
    				<option value="10">10</option>
    				<option value="30">30</option>
    				<option value="50">50</option>
    			</select>
    		</div>

    	</div>

	  </div>
	  </form>

	  <hr class="red" style="background-color: black; height: 2px">

	  <div>
		  <div class="pagination">
			  <a href="#">❮</a>
			  <a href="#">❯</a>
			</div>
	  </div>
  	<label>Results</label>
	  <div class="search-result">
    <form action="/item" method="post">  
	    <div>
        {{#each searchData}}
          {{#if this.room_id}}
            <div style="margin: 2em 0">
              <h4 class="text-info">{{this.room_name}} <small class="text-muted">{{this.category_type}}</small></h4>
              <p class="text-justify">{{this.room_desc}}</p>
              <button type="submit" class="btn" name="assetId" value="{{this.assets_id}}">Reserve</button>
            </div>
          {{else}}
            <div style="margin: 2em 0">
              <h4 class="text-info">{{this.equipment_name}} <small class="text-muted">{{this.category_type}}</small></h4>
              <p class="text-justify">{{this.equipment_desc}}</p>
              <button type="submit" class="btn" name="assetId" value="{{this.assets_id}}">Reserve</button>
            </div>
          {{/if}}
        {{/each}}




        <div style="margin: 2em 0">
          <h4 class="text-info">AVR <small class="text-muted">avr</small></h4>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button type="submit" class="btn" name="assetId" value="id">Reserve</button>
        </div>
        <div style="margin: 2em 0">
          <h4 class="text-info">AVR <small class="text-muted">avr</small></h4>
          <p class="text-justify">Lorem ipsum dolor sit ametor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button type="submit" class="btn" name="assetId" value="id">Reserve</button>
        </div>
	    </div>
    </form>
	  </div>
  </div>
</div>



<input type="hidden" name="availableFromServer" id="availableFromServer" value="{{available}}">
<input type="hidden" name="typeFromServer" id="typeFromServer" value="{{type}}">
<input type="hidden" name="rowsFromServer" id="rowsFromServer" value="{{rows}}">


<script type="text/javascript">
	$(document).ready(function(){
		var available = $("#availableFromServer").val();
		var type = $("#typeFromServer").val();
		var rows = $("#rowsFromServer").val();

		if (available != '')
			$("#available").val(available);
		if (type != '')
			$("#type").val(type);
		if (rows != '')	
			$("#rows").val(rows);

  });
		
	
</script>